h1 {
  text-align: center; 
  font-size: 18px;
  color: #f2f3efef
}
h2 {
  font-size: 16px;
  color: #ffffff;
}
p {
  text-align: left;
  color: #cfe6f0ef;
}


#imGood {
    margin: 0;
    display: block;
    padding: 0;
    display:block;
  }
  
  #imGood li {
    position: relative;
    list-style: none;
    margin: 0;
    display: inline-block;
    padding: 0 10px;
    font-size:1.6em;
  }